---
layout: default
title: About
description: About Me
---
<p><h1>About Me</h1></p>

<p>I am Nick Li, living in <a href="http://en.wikipedia.org/wiki/Shanghai" target="_blank">Shanghai China</a></p>
<p>You can find my careers profile on <a target="_blank" href="http://careers.stackoverflow.com/nickleefly">http://careers.stackoverflow.com/nickleefly</a></p>
<p>I own Bachelor Master in Computer Science. Besides this, I am a computer enthusiast, and occasionally a freelance developer. I have a some knowledge of
<dl>
  <li>C language</li>
  <li>C++</li>
  <li>Node.js</li>
  <li>Ruby</li>
  <li>Python</li>
  <li>Mysql</li>
  <li>NoSQL--Mongodb</li>
  <li>EC2</li>
  <li>S3</li>
</dl>
<p>On this blog you will find links about my on-going open-source projects, and posts about my random thoughs on various topics from my areas of interest.</p>
