---
layout: default
title: Contact
description: Contact Nick Li.
---

<p><h1>Contact Me</h1></p>

<p><h2>Places You'll Find Me</h2></p>

<a targe="_blank" href="mailto:nickleefly&#64;gmail&#46;com"><img src="/images/icons/gmail.ico" alt="Email me"></a>
<a targe="_blank" href="http://www.linkedin.com/in/nickleefly"><img src="/images/icons/linkedin.png" alt="LinkedIn"></a>
<a targe="_blank" href="http://www.twitter.com/nickleefly"><img src="/images/icons/twitter.ico" alt="Follow me on Twitter"></a>
<a targe="_blank" href="http://github.com/nickleefly"><img src="/images/icons/github.ico" alt="GitHub"></a>
<a targe="_blank" href="http://stackoverflow.com/users/1317035/nickleefly"><img src="/images/icons/so.ico" alt="Stack Overflow"></a>
<a targe="_blank" href="https://plus.google.com/112854091406192631393"><img src="/images/icons/gplus.png" alt="G+"></a>
<a targe="_blank" href="http://www.youtube.com/user/nickleeflyonly"><img src="/images/icons/youtube.ico" alt="YouTube"></a>
<a targe="_blank" href="http://www.weibo.com/gorgeoussh"><img src="/images/icons/weibo.png" alt="weibo"></a>

<p>I am a hybrid</p>

<p>From <a href="http://quora.com/Bryan-Veloso" target="_blank">Bryan Veloso</a></p>
<dl>
  <li>I am a hybrid addicted to two things: freedom and passion. Lack of either drives me away, whether it's from a project, a freelance gig or a job.</li>
  <li>I am an eternal student of the game; my nature for being a jack-of-all-trades allowing me to overcome any challenge put in front of me. I might not be the perfect choice for a specific challenge, but I will always persevere.</li>
  <li>Luck is a skill I cherish. Ambition runs through my veins.</li>
  <li>Someday I'll succeed, but I'm a bit busy making sure the people I care about do.</li>
</dl>
