---
layout: default
title: Projects
description: Roland Nick Li's Open Source Projects.
---
<h1>My Open Source Projects</h1>
<div class="site"></div>
<div id="opensource-projects"></div>

<!-- Javascript to load and display repos from GitHub -->
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/git.js" type="text/javascript"></script>
  <script type="text/javascript">
  $(function() {
    $("#opensource-projects").loadRepositories("nickleefly");
  });
  </script>
<!-- End GitHub repo code -->
